[submodule "agents"]
    path = agents
    url = https://github.com/wshobson/agents
    branch = main

[submodule "ai-coding-tips"]
    path = ai-coding-tips
    url = https://github.com/Wirasm/ai-coding-tips
    branch = main

[submodule "Archon"]
    path = Archon
    url = https://github.com/coleam00/Archon
    branch = main

[submodule "awesome-claude-code-agents"]
    path = awesome-claude-code-agents
    url = https://github.com/hesreallyhim/awesome-claude-code-agents
    branch = main

[submodule "awesome-claude-code-subagents"]
    path = awesome-claude-code-subagents
    url = https://github.com/VoltAgent/awesome-claude-code-subagents
    branch = main

[submodule "claude-code-router"]
    path = claude-code-router
    url = https://github.com/musistudio/claude-code-router
    branch = main

[submodule "clients"]
    path = clients
    url = https://github.com/bitwarden/clients
    branch = main

[submodule "context-engineering-intro"]
    path = context-engineering-intro
    url = https://github.com/coleam00/context-engineering-intro
    branch = main

[submodule "docs-mcp-server"]
    path = docs-mcp-server
    url = https://github.com/arabold/docs-mcp-server
    branch = main

[submodule "GhostTrack"]
    path = GhostTrack
    url = https://github.com/HunxByts/GhostTrack
    branch = main

[submodule "googletest"]
    path = googletest
    url = https://github.com/google/googletest
    branch = main

[submodule "litellm"]
    path = litellm
    url = https://github.com/BerriAI/litellm
    branch = main

[submodule "mem0"]
    path = mem0
    url = https://github.com/mem0ai/mem0
    branch = main

[submodule "n8n-docker-caddy-postgres"]
    path = n8n-docker-caddy-postgres
    url = https://github.com/Joffcom/n8n-docker-caddy-postgres
    branch = main

[submodule "n8n-mcp"]
    path = n8n-mcp
    url = https://github.com/czlonkowski/n8n-mcp
    branch = main

[submodule "PRPs-agentic-eng"]
    path = PRPs-agentic-eng
    url = https://github.com/Wirasm/PRPs-agentic-eng
    branch = main

[submodule "saas-starter"]
    path = saas-starter
    url = https://github.com/nextjs/saas-starter
    branch = main

[submodule "SuperClaude_Framework"]
    path = SuperClaude_Framework
    url = https://github.com/SuperClaude-Org/SuperClaude_Framework
    branch = main

